$regularFont: 'Open Sans', sans-serif;
$cursiveFont: 'Amatic SC', cursive;
$letterSpacing: 1.4px;
$font: 16px;
$white: #fff;
$black: #000;
$gray: #535454;
$transparent: rgba(0, 0, 0, 0.6);
$transition: .3s ease;
$sidebar-width: 300px;